*{
    margin: 0;
    padding: 0;
}
nav{
    /* padding-top: 5px; */
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100%;
    /* border: green solid 2px; */
    position: absolute;
    z-index: 1;
}
.menu-items{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

ul {
    list-style-type: none;
}
li{
    padding: 0px 20px;
}
.td-bg{
    height: 100vh;
    width: auto;
    z-index: -1;

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
a {
    text-decoration: none;
}
a { color: inherit; } 

